<div class="display-page-header">
  <span id="ScreenTitle" class="display-page-title">Validate Email Address</span>
</div>
<div>
  <p></p>
</div>
<div>
  <div *ngIf="!this.submitted">
    <form #validateForm="ngForm" name="validateForm" (ngSubmit)="validateForm.form.valid && onSubmit()" novalidate>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="userName">Username</label>
          <input type="text" class="form-control" id="userName" name="userName" #userName="ngModel"
                 [(ngModel)]="loginName" required minlength="5">
          <div class="text-danger" *ngIf="(userName.errors?.required || userName.errors?.minlength)">
            Valid username or email must be provided.
          </div>
        </div>
      </div>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" #password="ngModel"
                 [(ngModel)]="loginPassword" required minlength="5">
          <div class="text-danger" *ngIf="(password.errors?.required || password.errors?.minlength)">
            Your valid password must be provided.
          </div>
        </div>
      </div>

      <div>&nbsp;</div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <button class="btn btn-outline-secondary" [disabled]="!validateForm.form.valid" type="submit">
            Validate my Email...
          </button>
        </div>
      </div>

      <div>&nbsp;</div>
    </form>
  </div>

  <div *ngIf="this.submitted">
    <em>Logging in...</em>
  </div>

  <div>&nbsp;</div>
</div>
