<div class="display-page-header">
  <span id="ScreenTitle" class="display-page-title">Manage Church Mice Users</span>
</div>

<p *ngIf="!users"><em>Loading...</em></p>

<div *ngIf="users" class="container-fluid" >

  <div class="hide-content-controls">

    <span class="hide-content-controls filter-text">
      <input type="text" class="form-control" id="filterText" #filterText placeholder="Filter names" maxlength="20" (input)="filter(filterText.value)">

      <!--      <span (click)="clearFilter()" class="filter-button">-->
      <!--        <fa-icon [icon]="faFilterCircleXmark" class="fa-sm " title="Clear filter"></fa-icon>-->
      <!--      </span>-->

      <!--      <span (click)="setFilter()" class="filter-button">-->
      <!--        <fa-icon [icon]="faFilter" class="fa-sm " title="Filter name and registration"></fa-icon>-->
      <!--      </span>-->
    </span>
  </div>
</div>

<span>
    <a class="add-item" href="/admin/createUser">
      <fa-icon [icon]="faPlus" class="fa-fw sidebar-icon fa-lg"></fa-icon>
      <span class="d-none d-sm-inline">&nbsp;Add new login user</span>
    </a>
  </span>

<table class="table table-striped text-gray-800" aria-labelledby="tableLabel" *ngIf="users">
  <thead>
  <tr>
    <th>Action</th>
    <th class="d-none d-md-table-cell">
      <span>
        <fa-icon [icon]="headerSorter.getSortIcon(USERNAME_HEADER)" class="fa-fw sidebar-icon fa-sm"></fa-icon>&nbsp;
        <span (click)="headerClicked(USERNAME_HEADER)">{{ USERNAME_HEADER }}</span>
      </span>
    </th>
    <th>
      <span>
        <fa-icon [icon]="headerSorter.getSortIcon(FULLNAME_HEADER)" class="fa-fw sidebar-icon fa-sm"></fa-icon>&nbsp;
        <span (click)="headerClicked(FULLNAME_HEADER)">{{ FULLNAME_HEADER }}</span>
      </span>
    </th>
    <th class="d-none d-md-table-cell">
      <span>
        <fa-icon [icon]="headerSorter.getSortIcon(EMAIL_HEADER)" class="fa-fw sidebar-icon fa-sm"></fa-icon>&nbsp;
        <span (click)="headerClicked(EMAIL_HEADER)">{{ EMAIL_HEADER }}</span>
      </span>
    </th>
    <th class="d-none d-md-table-cell">
      <span>
        <fa-icon [icon]="headerSorter.getSortIcon(ROLE_HEADER)" class="fa-fw sidebar-icon fa-sm"></fa-icon>&nbsp;
        <span (click)="headerClicked(ROLE_HEADER)">{{ ROLE_HEADER }}</span>
      </span>
    </th>
    <th class="d-none d-lg-table-cell">
      <span>
        <fa-icon [icon]="headerSorter.getSortIcon(CREATE_HEADER)" class="fa-fw sidebar-icon fa-sm"></fa-icon>&nbsp;
        <span (click)="headerClicked(CREATE_HEADER)">{{ CREATE_HEADER }}</span>
      </span>
    </th>
    <th class="d-none d-lg-table-cell">
      <span>
        <fa-icon [icon]="headerSorter.getSortIcon(LASTLOGIN_HEADER)" class="fa-fw sidebar-icon fa-sm"></fa-icon>&nbsp;
        <span (click)="headerClicked(LASTLOGIN_HEADER)">{{ LASTLOGIN_HEADER }}</span>
      </span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of showUsers()">
    <td>
      <a href="/admin/editUser/{{ user.id }}" title="Edit user" class="action-icon">
        <fa-icon [icon]="faFilePen" class="fa-fw sidebar-icon fa-sm"></fa-icon>
      </a>
      <a href="/admin/changeUserPassword?/{{ user.id }}" title="Change user password" class="action-icon">
        <fa-icon [icon]="faKey" class="fa-fw sidebar-icon fa-sm"></fa-icon>
      </a>
      <a (click)="this.disableUser(user)" title="Disable user" class="action-icon">
        <fa-icon [icon]="faXmark" class="fa-fw sidebar-icon fa-sm" *ngIf="this.canBeDisabled(user)"></fa-icon>
      </a>
    </td>
    <td class="d-none d-md-table-cell">{{ user.userName }}</td>
    <td class="d-none d-md-table-cell">{{ user.fullName }}</td>
    <td class="d-none d-md-table-cell">{{ user.email }}</td>
    <td class="d-none d-lg-table-cell">{{ user.roleLevel }}</td>
    <td class="d-none d-lg-table-cell">{{ user.createdDate }}</td>
    <td class="d-none d-lg-table-cell">{{ user.lastLoginDate }}</td>
  </tr>
  </tbody>
</table>
