<div class="display-page-header">
  <span id="ScreenTitle" class="display-page-title">Edit Church Mice User</span>
</div>
<div>
  <p></p>
</div>
<div>
  <div *ngIf="!this.submitted">
    <form #updateUserForm="ngForm" name="updateUserForm"
          (ngSubmit)="updateUserForm.form.valid && onSubmit()" novalidate>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="userName">User name (not editable)</label>
          <input type="text" class="form-control" id="userName" name="userName" #userName="ngModel"
                 [(ngModel)]="existingUserName" readonly>
        </div>

        <div class="row display-page-edit-row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <label for="fullName">Full name</label>
            <input type="text" class="form-control" id="fullName" name="fullName" #fullName="ngModel"
                   [(ngModel)]="newFullName" required minlength="5">
            <div class="text-danger" *ngIf="(fullName.errors?.required || fullName.errors?.minlength)">
              A full name (first and last) must be provided.
            </div>
          </div>
        </div>

        <div class="row display-page-edit-row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" #email="ngModel"
                   [(ngModel)]="newEmail" required minlength="6">
            <div class="text-danger" *ngIf="(email.errors?.required || email.errors?.minlength)">
              A valid email address must be provided.
            </div>
          </div>
        </div>

        <div class="row display-page-edit-row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <label for="roleLevel">Role level</label>
            <select id="roleLevel" #roleLevel class="form-select" [(ngModel)]="newRoleLevel" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let level of roleLevels" [ngValue]="level.code">
                {{ level.displayValue }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div>
        <p></p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <button class="btn btn-outline-secondary" [disabled]="!updateUserForm.form.valid" type="submit">
            Update user account...
          </button>
        </div>
      </div>

    </form>
  </div>


  <div *ngIf="this.submitted">
    <em>Requesting update of user account...</em>
  </div>

  <div>&nbsp;</div>
</div>


