################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChurchMiceServer/ChurchMiceServer/obj
/ChurchMiceServer/.vs/ChurchMiceServer/FileContentIndex
/ChurchMiceServer/.vs/ChurchMiceServer/v17
