<div class="display-page-header">
  <span id="ScreenTitle" class="display-page-title">Configure Church Mice Settings</span>
</div>
<div>
  <p></p>
</div>
<div>
  <div *ngIf="!this.submitted">
    <form #configForm="ngForm" name="configForm" (ngSubmit)="configForm.form.valid && onSubmit()" novalidate>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="ministryName">Ministry name</label>
          <input type="text" class="form-control" id="ministryName" name="ministryName" #ministryName="ngModel"
                 [(ngModel)]="configMinistryName" >
        </div>
      </div>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="baseUrl">Base Url for UI</label>
          <input type="text" class="form-control" id="baseUrl" name="baseUrl" #baseUrl="ngModel"
                 [(ngModel)]="configBaseUrl">
        </div>
      </div>

      <div>&nbsp;</div>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="ministryAddress1">Ministry address line 1</label>
          <input type="text" class="form-control" id="ministryAddress1" name="ministryAddress1" #ministryAddress1="ngModel"
                 [(ngModel)]="configMinistryAddress1" >
        </div>
      </div>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="ministryAddress2">Ministry address line 2</label>
          <input type="text" class="form-control" id="ministryAddress2" name="ministryAddress2" #ministryAddress2="ngModel"
                 [(ngModel)]="configMinistryAddress2" >
        </div>
      </div>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="ministryAddress3">Ministry address line 3</label>
          <input type="text" class="form-control" id="ministryAddress3" name="ministryAddress3" #ministryAddress3="ngModel"
                 [(ngModel)]="configMinistryAddress3" >
        </div>
      </div>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="ministryPhone">Ministry phone</label>
          <input type="text" class="form-control" id="ministryPhone" name="ministryPhone" #ministryPhone="ngModel"
                 [(ngModel)]="configMinistryPhone" >
        </div>
      </div>

      <div>&nbsp;</div>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="facebookUrl">Facebook Url</label>
          <input type="text" class="form-control" id="facebookUrl" name="facebookUrl" #facebookUrl="ngModel"
                 [(ngModel)]="configFacebookUrl">
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="youTubeUrl">YouTube Url</label>
          <input type="text" class="form-control" id="youTubeUrl" name="youTubeUrl" #youTubeUrl="ngModel"
                 [(ngModel)]="configYouTubeUrl">
        </div>
      </div>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="vimeoUrl">Vimeo Url</label>
          <input type="text" class="form-control" id="vimeoUrl" name="vimeoUrl" #vimeoUrl="ngModel"
                 [(ngModel)]="configVimeoUrl">
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="instagramUrl">Instagram Url</label>
          <input type="text" class="form-control" id="instagramUrl" name="instagramUrl" #instagramUrl="ngModel"
                 [(ngModel)]="configInstagramUrl">
        </div>
      </div>

      <div>&nbsp;</div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <button class="btn btn-outline-secondary" type="submit">
            Save configuration...
          </button>
        </div>
      </div>

    </form>
  </div>

  <div *ngIf="this.submitted">
    <em>Saving changes...</em>
  </div>

  <div>&nbsp;</div>
</div>
