<div class="display-page-header">
  <span id="ScreenTitle" class="display-page-title">Browse the Membership</span>
</div>

<div>
  <p></p>

  <div class="row">
    <div *ngFor="let member of this.members" class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-8">
      <div class="member-block">
        <img class="memberImage" alt="Image of member" [src]="member.memberImageUrl">
        <div class="member-block-text">
          <h5>{{ member.member.firstName }}</h5>
          <h5>{{ member.member.lastName }}</h5>
          <h6>{{ member.member.memberSince ? "Member" : "Attender" }}</h6>
          <div *ngIf="this.isUserMember">
            <h6 *ngIf="member.member.mobilePhone && member.member.mobilePhone !== ''">Mobile {{ member.member.mobilePhone }}</h6>
            <h6 *ngIf="member.member.homePhone && member.member.homePhone !== ''">Home {{ member.member.homePhone }}</h6>
            <h6 *ngIf="member.member.birthday && member.member.birthday !== ''">Birthday: {{ member.member.birthday | politeDatePipe }}</h6>
            <h6 *ngIf="member.member.anniversary && member.member.anniversary !== ''">Anniversary: {{ member.member.anniversary | politeDatePipe }}</h6>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
