.nav-section {
  background: #575F6B;
}

.nav {
  margin: 0;
  white-space: nowrap;
  padding: .5rem 1.5rem;
  font-weight: 800;
  font-size: 0.65rem;
  color: #b7b9cc;
  text-transform: none;
  width: 100%;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.nav-address {
  display: block;
  text-align: left;
  padding: 0.5rem 1.5rem;
  color: lightgray;
  font-size: 0.8rem;
  font-weight: bolder;
}

.nav-address-line {
  white-space: nowrap;
  text-overflow: fade;

}

.nav-item .nav-link {
  display: block;
  text-align: left;
  padding: 0.5rem;
  color: lightgray;
  font-size: 0.8rem;
}

.nav-item .collapse {
  padding-top: 0;
}

.nav-item .nav-link:hover {
  color: #EFE477;
}

.nav-item .sidebar-icon {
  padding-right: 0.5rem;
}

img {
  max-width: 220px;
}

.nav .sidebar-heading {
  margin-top: 1rem;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #EBC39C;
}

.nav .sidebar-divider {
  border-top: 2px solid;
  margin: 0 1rem 1rem;
  color: #F76954;
}
