<div class="d-flex flex-column align-items-center align-items-sm-start pt-2 min-vh-100 bg-gradient-primary"
     id="sideMenu">

  <!-- Sidebar - Brand -->
  <a class="d-flex align-items-center justify-content-center ms-1 d-none d-sm-inline"
     href="https://www.amgr.org/index.cfm">
    <div class="sidebar-brand-text mx-3">
      <a class="navbar-brand js-scroll-trigger" href="#">
        <img src="assets/images/logo2.png" class="align-content-center align-middle" border="0" width="100%" alt="">
      </a>
    </div>
  </a>

  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
    <li class="nav-item active">
      <a class="nav-link" href="https://www.amgr.org/index.cfm">
        <fa-icon [icon]="faHouseUser" class="fa-fw sidebar-icon fa-lg"></fa-icon>
        <span class="ms-1 d-none d-sm-inline">Home</span>
      </a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="https://www.amgr.org/dashboard/index.cfm">
        <fa-icon [icon]="faTachometerAlt" class="fa-fw sidebar-icon fa-lg"></fa-icon>
        <span class="d-none d-sm-inline">Dashboard</span>
      </a>
    </li>

    <div class="sidebar-heading ms-1 d-none d-sm-inline">Management</div>

    <li class="nav-item active">
      <a class="nav-link" href="/goats/my-goats">
        <fa-icon [icon]="faCubesStacked" class="fa-fw sidebar-icon fa-lg"></fa-icon>
        <span class="d-none d-sm-inline">My Goats</span>
      </a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="/goats/bulk-operations">
        <fa-icon [icon]="faBucket" class="fa-fw sidebar-icon fa-lg"></fa-icon>
        <span class="d-none d-sm-inline">Bulk Operations</span>
      </a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="/farm">
        <fa-icon [icon]="faTractor" class="fa-fw sidebar-icon fa-lg"></fa-icon>
        <span class="d-none d-sm-inline">My Farm</span>
      </a>
    </li>

    <div class="sidebar-heading ms-1 d-none d-sm-inline">Breeding</div>

    <li class="nav-item active">
      <a class="nav-link" href="/goats/birth-operations">
        <fa-icon [icon]="faCakeCandles" class="fa-fw sidebar-icon fa-lg"></fa-icon>
        <span class="d-none d-sm-inline">Birth Operations</span>
      </a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="/goats/sire-performance">
        <fa-icon [icon]="faChartLine" class="fa-fw sidebar-icon fa-lg"></fa-icon>
        <span class="d-none d-sm-inline">Sire Performance</span>
      </a>
    </li>

    <div class="sidebar-heading ms-1 d-none d-sm-inline">Reporting</div>

    <li class="nav-item active">
      <a class="nav-link" href="/reports/mothering">
        <fa-icon [icon]="faGauge" class="fa-fw sidebar-icon fa-lg"></fa-icon>
        <span class="d-none d-sm-inline">Mothering Traits</span>
      </a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="/reports/costing">
        <fa-icon [icon]="faCommentDollar" class="fa-fw sidebar-icon fa-lg"></fa-icon>
        <span class="d-none d-sm-inline">Costing</span>
      </a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="/reports/health">
        <fa-icon [icon]="faTemperatureHalf" class="fa-fw sidebar-icon fa-lg"></fa-icon>
        <span class="d-none d-sm-inline">Health Trends</span>
      </a>
    </li>

    <div class="sidebar-heading ms-1 d-none d-sm-inline">Authorization</div>
    <!-- needs icon -->

    <li class="nav-item active">
      <a class="nav-link" href="/login">
        <fa-icon [icon]="faRightToBracket" class="fa-fw sidebar-icon fa-lg"></fa-icon>
        <span class="d-none d-sm-inline">Login</span>
      </a>
    </li>
  </ul>

  <!-- TODO Sidebar Toggler (Sidebar) -->
  <!--  <div class="text-center d-none d-md-inline">-->
  <!--    <button class="rounded-circle border-0" id="sidebarToggle"></button>-->
  <!--  </div>-->
</div>
