<div class="d-flex flex-column align-items-center align-items-sm-start pt-2 min-vh-100 bg-gradient-primary"
     id="sideMenu">

  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
    <div class="sidebar-heading ms-1 d-none d-sm-inline">Authorization</div>
    <!-- needs icon -->

    <li class="nav-item active">
      <a class="nav-link" href="/login">
        <fa-icon [icon]="faRightToBracket" class="fa-fw sidebar-icon fa-lg"></fa-icon>
        <span class="d-none d-sm-inline">Login</span>
      </a>
    </li>
  </ul>

</div>
