<div class="display-page-header">
  <span id="ScreenTitle" class="display-page-title">About Church Mice</span>
</div>
<div>
  <p></p>
</div>
<div class="row display-page-edit-row">
  <div class="col-lg-9 col-md-8 col-sm-12">
  <p>ChurchMice is an open source project that brings a critical component to small churches, an inexpensive to produce online directory. After all, church mice are very social and so they want to be able
  to recognize other church mice. This software is all about being able to add demographic information and photos to create an online directory for your congregation.
  </p>
  <p>For a very small church, this package also permits adding some basic webpages so that ChurchMice can run the site instead of being an add-on to an existing website.
  </p>
  <p>ChurchMice source code can be downloaded or forked from GitHub at <a href="https://github.com/ChrisLaforet/ChurchMice">github.com/ChrisLaforet/ChurchMice</a> and can be modified and extended to
    meet your needs.  The code is developed in C#/.NET Core for the services, Angular for the UI/UX, and uses SQL Server DB (currently).</p>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-12">
    <img src="assets/images/ChurchMiceLogo.png" class="align-content-center align-middle" width="100%" alt="Church Mice Software logo">
  </div>
</div>
