html {
  font-size: 14px;
}

#topBarContainer {
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}

.topbar {
  height: 4.375rem;
  background: #8A97AB;
}

.topbar #sidebarToggleTop {
  height: 2.5rem;
  width: 2.5rem;
}

.topbar #sidebarToggleTop:hover {
  background-color: #eaecf4;
}

.topbar #sidebarToggleTop:active {
  background-color: #dddfeb;
}

.img-profile {
  margin-left: 12px;
  margin-right: 3px;
  width: 3rem;
}

/*.topbar.navbar-dark .navbar-nav .nav-item .nav-link {*/
/*  color: #C8DBF7;*/
/*}*/

/*.topbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {*/
/*  color: #fff;*/
/*}*/

/*.topbar.navbar-dark .navbar-nav .nav-item .nav-link:active {*/
/*  color: #fff;*/
/*}*/

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #C8DBF7;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #EFE477;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
  color: #488CF7;
}

.row {
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
}

.title {
  margin-left: 1rem;
  font-size: 1.75rem;
  text-shadow: 1px 1px #bbbbbb;
  text-overflow: clip;
}

.med-title {
  margin-left: 1rem;
  font-size: 1.25rem;
  text-shadow: 1px 1px #bbbbbb;
  text-overflow: clip;
}

.small-title {
  margin-left: 1rem;
  font-size: 0.75rem;
  text-overflow: clip;
}
