.keepLoggedIn {
  padding-top: 1rem;
  padding-left: 0;
  padding-bottom: 1rem;
}

.keepLoggedInButton {
  float: left;
  height: 1.5rem;
  width: 1.5rem;
}

.keepLoggedInLabel {
  padding-left: 1rem;
}

