<div class="display-page-header">
  <span id="ScreenTitle" class="display-page-title">Complete Changing Password</span>
</div>
<div>
  <p></p>
</div>
<div>
  <div *ngIf="!this.submitted">
    <form #passwordChangeForm="ngForm" name="validateForm" (ngSubmit)="passwordChangeForm.form.valid && onSubmit()" novalidate>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="userName">Username</label>
          <input type="text" class="form-control" id="userName" name="userName" #userName="ngModel"
                 [(ngModel)]="loginName" required minlength="5">
          <div class="text-danger" *ngIf="(userName.errors?.required || userName.errors?.minlength)">
            Valid username or email must be provided.
          </div>
        </div>
      </div>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="resetCode">Reset key</label>
          <input type="text" class="form-control" id="resetCode" name="resetCode" #resetCode="ngModel"
                 [(ngModel)]="resetKey" required minlength="4">
          <div class="text-danger" *ngIf="(resetCode.errors?.required || resetCode.errors?.minlength)">
            The most recent reset key that was Emailed to you must be provided.
          </div>
        </div>
      </div>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" name="password" #password="ngModel"
                 [(ngModel)]="newPassword" required minlength="8">
          <div class="text-danger" *ngIf="(password.errors?.required || password.errors?.minlength)">
            A properly-developed password be provided.
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="confirmPassword">Confirm Password</label>
          <input type="text" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel"
                 [(ngModel)]="newConfirmPassword" required minlength="8">
          <div class="text-danger" *ngIf="(confirmPassword.errors?.required || confirmPassword.errors?.minlength)">
            Confirmation of password is not correct.
          </div>
        </div>
      </div>

      <div>&nbsp;</div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <button class="btn btn-outline-secondary" [disabled]="!passwordChangeForm.form.valid" type="submit">
            Change my password...
          </button>
        </div>
      </div>

      <div>&nbsp;</div>
    </form>
  </div>

  <div *ngIf="this.submitted">
    <em>Logging in...</em>
  </div>

  <div>&nbsp;</div>
</div>
