<div class="display-page-header">
  <span id="ScreenTitle" class="display-page-title">Create a New Login on Church Mice</span>
</div>
<div>
  <p></p>
</div>
<div>
  <div *ngIf="!this.submitted">
    <form #newLoginForm="ngForm" name="newLoginForm"
          (ngSubmit)="newLoginForm.form.valid && onSubmit()" novalidate>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="userName">User name</label>
          <input type="text" class="form-control" id="userName" name="userName" #userName="ngModel"
                 [(ngModel)]="newUserName" required minlength="5" (blur)="this.isUserNameNotAvailable()">
          <div class="text-danger" *ngIf="(userName.errors?.required || userName.errors?.minlength)">
            A unique user name must be provided.
          </div>
          <div class="text-danger" *ngIf="this.nameIsNotAvailable">
            The provided name is not permitted to be used - please choose another.
          </div>
        </div>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="fullName">Full name</label>
          <input type="text" class="form-control" id="fullName" name="fullName" #fullName="ngModel"
                 [(ngModel)]="newFullName" required minlength="5">
          <div class="text-danger" *ngIf="(fullName.errors?.required || fullName.errors?.minlength)">
            A full name (first and last) must be provided.
          </div>
        </div>
      </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" #email="ngModel"
                 [(ngModel)]="newEmail" required minlength="6">
          <div class="text-danger" *ngIf="(email.errors?.required || email.errors?.minlength)">
            A valid email address must be provided.
          </div>
        </div>
      </div>

      <div class="row display-page-edit-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" name="password" #password="ngModel"
                 [(ngModel)]="newPassword" required minlength="8">
          <div class="text-danger" *ngIf="(password.errors?.required || password.errors?.minlength)">
            A properly-developed password be provided.
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
          <label for="confirmPassword">Confirm Password</label>
          <input type="text" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel"
                 [(ngModel)]="newConfirmPassword" required minlength="8">
          <div class="text-danger" *ngIf="(confirmPassword.errors?.required || confirmPassword.errors?.minlength)">
            Confirmation of password is not correct.
          </div>
        </div>
      </div>

      <div>&nbsp;</div>

      <div>
        <ngx-invisible-recaptcha #captcha [siteKey]="this.siteKey" id="recaptcha" required></ngx-invisible-recaptcha>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <button class="btn btn-outline-secondary" [disabled]="!newLoginForm.form.valid" type="submit">
            Create my new login account...
          </button>
        </div>
      </div>

    </form>
  </div>

  <div *ngIf="this.submitted">
    <em>Requesting creation of new login account...</em>
  </div>

  <div>&nbsp;</div>
</div>
