<div class="display-page-header">
  <span (click)="this.navigateBack()">
    <fa-icon [icon]="faArrowRotateLeft" class="fa-sm display-page-return-arrow" title="Return to manage members"></fa-icon>
  </span>
  <span id="ScreenTitle" class="display-page-title">Upload/Update Photo of Member</span>
</div>
<div>
  <p></p>
</div>
<div>
  <!-- some details about the person -->
  <div class="row display-page-edit-row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" #firstName="ngModel"
             [ngModel]="member?.firstName" readonly>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" #lastName="ngModel"
             [ngModel]="member?.lastName" readonly>
    </div>
  </div>

  <div class="row display-page-edit-row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" #email="ngModel"
             [ngModel]="member?.email" readonly>
    </div>
  </div>

  <!-- show photos if any  -->
  <div class="row display-page-edit-row" *ngIf="this.hasImages()">
    <p></p>
    <h5>Existing Images</h5>
    <span>
      <img class="memberImage" alt="Image of member" *ngFor="let memberImage of memberImages" [src]="getImageFrom(memberImage)">
    </span>
  </div>


  <!-- upload photo -->
  <div>
    <p></p>
    <app-single-file-upload [uploadService]="this.getUploadService()" [memberId]="this.getMemberId()"></app-single-file-upload>
  </div>

  <!-- status of photo -->
<div>&nbsp;</div>
</div>
